.hotels-list {
    padding: 20px;
}

.overview-card {
    min-height: 100px;
    border: 1px solid pink;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 10px 0;
}

.card-image {
    padding-right: 10px;
}

.card-image img {
    width: 200px;
}

.card-content {
    width: 100%;
}
