<div class="hotels-list row">
    <div class="column column-33"></div>

    <div class="column">
        <div
            *ngFor="let hotel of hotels$ | async"
            class="hotels-list-item"
        >
            <div class="overview-card">
                <div class="card-image">
                    <img
                        [src]="hotel.images[0]"
                        [alt]="hotel.name"
                    >
                </div>
                <div class="card-content">
                    <h3><a [routerLink]="[ '/hotels', hotel.id ]">{{ hotel.name }}</a></h3>
                    <p>Rating {{ hotel.rating }}</p>
                    <p>Distance {{ hotel.distance_to_venue }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
