.content-container {
    display: flex;
    padding: 0 10px;
}

.filter-sidebar {
    flex-basis: 40%;
}

.hotels-list {
    display: flex;
    flex-direction: column;
}

.overview-card {
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 10px 0;
}

.card-image {
    padding-right: 10px;
}

.card-image img {
    width: 200px;
}

.card-content {
    width: 100%;
}
