.admins {
    padding: 1rem 1rem;
}

.action-buttons {
    padding-bottom: 1rem;
}

.mini-button {
    line-height: 1rem;
    padding: .3rem;
    text-transform: none;
}

table {
    width: 100%;
}

th {
    padding: .3rem;
    text-align: left;
}

td {
    padding: .3rem;
}
